.QuoteContainer {
  background-color: #f4f4f4;
  padding: 15% 15%;
  justify-content: center;
  display: flex;
}

.QuoteBody {
  background-color: #fff;
  width: 80%;
  height: 450px;
  box-shadow: 0 0 20px #333;
  padding: 4rem 6rem;
  border-radius: 10px;
  margin-left: 10%;
}

.QuoteMain {
  font-size: 2.7rem;
  margin-bottom: 2rem;
}

.QuoteMain span {
  color: var(--secondary-color);
  font-weight: bold;
  font-size: 3rem;
}

@media (max-width: 1520px) {
  .QuoteBody {
    width: 90%;
    height: 500px;
    padding: 4rem 6rem;
    margin-left: 6%;
  }
}
@media (max-width: 1150px) {
  .QuoteBody {
    width: 100%;
    height: 500px;
    padding: 4rem 6rem;
    margin-left: 0;
  }
  .QuoteMain {
    font-size: 2.3rem;
    margin-bottom: 2rem;
  }
}
@media (max-width: 917px) {
  .QuoteBody {
    width: 100%;
    height: 550px;
    padding: 4rem 2rem;
    margin-left: 0%;
  }
}
@media (max-width: 600px) {
  .QuoteMain {
    font-size: 1.6rem;
    margin-bottom: 2rem;
  }
  .QuoteMain span {
    font-size: 1.8rem;
  }
}
