.SignupContainer {
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 16rem;
}
.ThankyouImg {
  width: 300px;
  border-radius: 50%;
  margin: 2rem auto;
}
.ThankyouBody {
  font-size: 1.4rem;
  font-weight: bold;
  max-width: 470px;
  margin: 0 auto;
}
@media (max-width: 640px) {
  .ThankyouImg {
    width: 250px;
    border-radius: 50%;
    margin: 2rem auto;
  }
}
@media (max-width: 550px) {
  .ThankyouBody {
    font-size: 1.4rem;
    font-weight: bold;
    max-width: 470px;
    margin: 0 auto;
    padding: 0 3rem;
  }
}
@media (max-width: 375px) {
  .ThankyouImg {
    width: 200px;
    border-radius: 50%;
    margin: 2rem auto;
  }
}
@media (max-height: 625px) {
  .SignupContainer {
    padding-bottom: 5rem;
    height: 600px;
  }
}
