.NavbarCurrent {
  margin: 0;
  box-sizing: border-box;
  display: flex;
  height: 100%;
  align-items: center;
}

.NavbarCurrent a {
  color: snow;
  text-decoration: none;
  height: 100%;
  padding: 16px 10px;
  border-bottom: 4px solid transparent;
  box-sizing: border-box;
  display: block;
}

.NavbarCurrent a:hover,
.NavbarCurrent a:active,
.NavbarCurrent a.active {
  background-color: darkgreen;
  color: snow;
}
